body {
    color: white;
    background-color: #121725;
}

/* HEADER */

header{
    background-image: url('/images/banner-background-dark.jpg');
}


/* NAVIGATION */
#login-button {
    background-color: #2C344B;
    color: white;
}

.theme-toggler{
    background-color: #2C344B;

    #toggle-ball{
        background-color: white;
    }
}


/* SEARCH BAR */
#searchInput {
    background-color:#2C344B;
    color: white;
    box-shadow: 0px 0px 10px #2C344B;
}

#searchInputSubmit{
    background-color: #35e6ae;
    box-shadow: 0px 0px 10px #2C344B;
}


/* RESULTS SECTION */
.results-section,
.playlist-section {
    background-color: #2C344B;
}