/* UNIVERSAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6vw;
    letter-spacing: 2rem;
    margin-bottom: 30px;
    font-family: "Chakra Petch", Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 1.75rem;
    letter-spacing: 0.75rem;
    font-weight: 400;
}

/* NAV BAR */
nav {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #login-button {
        width: auto;
        height: 50px;
        padding: 1.5rem;
        font-size: 1rem;
        background-color: #2C344B;
        border: none;
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 40px;
        cursor: pointer;
        
        img {
            height: 26px;
        }
    }

    .theme-adjuster {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        .theme-toggler{
            height: 50px;
            width: 100px;
            padding: 10px 5px;
            background-color: #2C344B;
            border-radius: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: flex-end;

            #toggle-ball{
                height: 40px;
                width: 40px;
                background-color: white;
                border-radius: 100%;
            }
        }

        svg {
            cursor: pointer;
        }
    }
}


/* BANNER */
#banner{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}


/* SEARCH BOX */
form {
    justify-self: center;

    #searchInput,
    #searchInputSubmit {
        height: 60px;
        font-size: 18px;
        padding: 5px 30px;
        border-radius: 30px;
        border: none;
    }

    #searchInput {
        background-color:#2C344B;
        width: 350px;
        box-shadow: 0px 0px 10px #2C344B;

    }

    #searchInputSubmit{
        margin-left: 1rem;
        background-color: #35e6ae;
        letter-spacing: 0.30rem;
        font-weight: 600;
        box-shadow: 0px 0px 10px #2C344B;
        cursor: pointer;
    }
}
